.interion {
  margin-bottom: 150px;
  &__wrapper {
    display: flex;
    column-gap: 33px;
    position: relative;
  }
  &__wrapper::after {
    content: url(./../images/img-r.svg);
    position: absolute;
    top: -16%;
    left: 0;
    z-index: -1;
  }
  &__fotos {
    display: flex;
    column-gap: 33px;
    position: relative;
  }
  &__fotoses {
    position: absolute;
    top: 194px;
    right: 0;
  }
  &__title {
    font-size: 34px;
    line-height: 41px;
    color: var(--color-title);
  }
  &__text {
    margin: 30px 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
  }
  &__row {
    display: flex;
    column-gap: 40px;
  }
  &__dest {
    margin: 0 0 25px 20px;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-text);
    position: relative;
  }
  &__dest::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #3b5d50;
  }
  &__btn {
    margin-top: 13px;
    padding: 11px 33px;
    display: inline-block;
    border: none;
    background: none;
    font-size: 16px;
    text-align: center;
    color: var(--white);
    background: var(--color-title);
    border-radius: 30px;
    cursor: pointer;
  }
}
@media (max-width: 1025px) {
  .interion {
    margin-bottom: 110px;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    &__wrapper::after {
      top: 40%;
      left: 70%;
    }
    &__fotoses {
      width: 55%;
      height: 63%;
    }
    &__wrapp {
      margin-bottom: 40px;
      order: -1;
    }
    &__dest::before {
      left: -17px;
      top: 4px;
    }
  }
}
@media (max-width: 950px) {
  .interion {
    margin-bottom: 70px;
    &__wrapper::after {
      display: none;
    }
    &__fotos {
      column-gap: 0;
    }
    &__img {
      width: 100%;
    }
    &__foto {
      display: none;
    }
    &__fotoses {
      display: none;
    }
  }
}
@media (max-width: 450px) {
  .interion {
    margin-bottom: 40px;
    &__dest::before {
      left: -17px;
      top: 13px;
    }
    &__text {
      margin: 22px 0;
    }
    &__btn {
      width: 100%;
      text-align: center;
    }
  }
}
