.product {
  margin: 100px 0 150px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    flex-wrap: wrap;
  }
  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 60px);
  }
  &__title {
    font-size: 34px;
    line-height: 41px;
    color: var(--color-title);
  }
  &__text {
    margin: 27px 0 33px 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
  }
  &__btn {
    margin-right: auto;
    padding: 11px 33px;
    display: inline-block;
    border: none;
    background: none;
    font-size: 16px;
    text-align: center;
    color: var(--white);
    background: var(--color-title);
    border-radius: 30px;
    cursor: pointer;
  }
  &__suptitle {
    margin-top: 45px;
    font-size: 16px;
    color: var(--color-title);
  }
  &__sena {
    font-size: 18px;
    color: var(--color-title);
  }
}
@media (max-width: 1090px) {
  .product {
    margin: 70px 0 100px 0;
    &__wrapper {
      column-gap: 20px;
    }
    &__text {
      margin: 20px 0;
    }
  }
}
@media (max-width: 950px) {
  .product {
    margin: 60px 0 80px 0;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__row {
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .product {
    margin: 50px 0 45px 0;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__row:nth-child(n + 2) {
      border: 1px solid var(--color-title);
      margin: 15px 0;
      padding: 30px;
      border-radius: 20px;
    }
    &__title {
      font-size: 32px;
    }
  }
}
@media (max-width: 450px) {
  .product {
    &__btn {
      width: 100%;
    }
  }
}
